// color variants
@use 'themes-vars.module.scss' as *;

// third party
@use 'react-perfect-scrollbar/dist/css/styles.css';

// ==============================|| TAP HIGHLIGHT ||============================== //

* {
  -webkit-tap-highlight-color: transparent !important;
}

// ==============================|| APEXCHART ||============================== //

.apexcharts-legend-series .apexcharts-legend-marker {
  left: -4px !important;
  right: -4px !important;
}

.apexcharts-legend.apx-legend-position-bottom .apexcharts-legend-series,
.apexcharts-legend.apx-legend-position-top .apexcharts-legend-series {
  gap: 8px;
}

.apexcharts-canvas {
  .apexcharts-tooltip-series-group.apexcharts-active,
  .apexcharts-tooltip-series-group:last-child {
    padding-bottom: 0;
  }
}

.apexcharts-legend-series {
  align-items: center;
  display: flex;
  gap: 8px;
}

// ==============================|| PERFECT SCROLLBAR ||============================== //

.scrollbar-container {
  .ps__rail-y {
    &:hover > .ps__thumb-y,
    &:focus > .ps__thumb-y,
    &.ps--clicking .ps__thumb-y {
      background-color: $grey500;
      width: 5px;
    }
  }
  .ps__thumb-y {
    background-color: $grey500;
    border-radius: 6px;
    width: 5px;
    right: 0;
  }
}

.scrollbar-container.ps,
.scrollbar-container > .ps {
  &.ps--active-y > .ps__rail-y {
    width: 5px;
    background-color: transparent !important;
    z-index: 999;
    &:hover,
    &.ps--clicking {
      width: 5px;
      background-color: transparent;
    }
  }
  &.ps--scrolling-y > .ps__rail-y,
  &.ps--scrolling-x > .ps__rail-x {
    opacity: 0.4;
    background-color: transparent;
  }
}

// ==============================|| ANIMATION KEYFRAMES ||============================== //

@keyframes wings {
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0%,
  20%,
  53%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0);
  }
  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -5px, 0);
  }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -7px, 0);
  }
  80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0);
  }
  90% {
    transform: translate3d(0, -2px, 0);
  }
}

@keyframes slideY {
  0%,
  50%,
  100% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(10px);
  }
}

@keyframes slideX {
  0%,
  50%,
  100% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
}

.css-nt23b8-MuiDataGrid-root .MuiDataGrid-columnHeader:focus, .css-nt23b8-MuiDataGrid-root .MuiDataGrid-cell:focus {
  outline: none !important;
}

.css-qzg5qt-MuiDataGrid-root .MuiDataGrid-columnHeader:focus, .css-qzg5qt-MuiDataGrid-root .MuiDataGrid-cell:focus {
  outline: none !important;
}

.barberContainer{
  width:84px;
  height:306px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}

.ball{
  height:22px;
  width:22px;
  margin-left:31px;
  margin-right:31px;
  border-radius:100px;
  background-color:#fefbe3;
}

.endCap{
  width:54px;
  height:15px;
  margin-left:15px;
  margin-right:15px;
  margin-top:5px;
  margin-bottom:5px;
  background-color:#fefbe3;
}

.cap{
  width:84px;
  height:15px;
  background-color:#fefbe3;
}

.barberWrap{
  height:172px;
  width:54px;
  margin-top:5px;
  margin-bottom:5px;
  margin-left:15px;
  margin-right:15px;
}

.barber{
  height:172px;
  width:54px;
  position: inherit;
  background:#fefbe3;
  background-color: -webkit-linear-gradient(-45deg, transparent 25%, #fefbe3 25%, #fefbe3 50%, transparent 50%, transparent 75%, #fefbe3 75%);
  background: -moz-linear-gradient(-45deg, transparent 25%, #fefbe3 25%, #fefbe3 50%, transparent 50%, transparent 75%, #fefbe3 75%);
  background: -o-linear-gradient(-45deg, transparent 25%, #fefbe3 25%, #fefbe3 50%, transparent 50%, transparent 75%, #fefbe3 75%);
  background: linear-gradient(-45deg, transparent 25%, #fefbe3 25%, #fefbe3 50%, transparent 50%, transparent 75%, #fefbe3 75%);
  background-size: 27px 27px;
  -webkit-animation: barberpole 1.5s infinite linear;
  animation: barberpole 1.5s infinite linear;
}

@-webkit-keyframes barberpole {
  from {background-position: 0%;}
  to {background-position: 100%;}
}

